/devmon/crtrecords/
/devmon/todo/
/devmon/pymodules/
/devmon/devlist/a-side/*
/devmon/devlist/b-side/*
/devmon/devlist/examples/example.IBM.TS3500.yaml
/devmon/devlist/examples/example.ssh.linux.yaml
